* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(280deg, #8052ec, #d161ff);
}
.input {
  position: relative;
  width: 100%;
  max-width: 320px;
  margin: 50px auto 6px;
}
.input input {
  width: 100%;
  font-size: 1.4rem;
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: 3px solid rgb(34, 0, 226);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15);
  letter-spacing: 1px;
}
.input label {
  position: absolute;
  left: 12px;
  top: 0;
  bottom: 0;
  font-size: 1.4rem;
  opacity: 0.3;
  user-select: none;
  display: flex;
  align-items: center;
  letter-spacing: 1px;
}
.suggestions-list {
  width: 100%;
  max-width: 315px;
  height: auto;
  max-height: 300px;
  background: #f0f0f0;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15);
  margin: auto;
  overflow-y: auto;
}
.suggestions-list ul {
  list-style: none;
}
.suggestions-list li {
  font-size: 1.4rem;
  padding: 10px;
  border-bottom: 1px solid #cfcfcf;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
.suggestions-list li:hover {
  background-color: #c98bc9;
  padding-left: 20px;
}
.suggestions-list li:last-child {
  border-bottom: none;
}
.correct {
  border: 3px solid #07da46 !important;
}
.incorrect {
  border: 3px solid #e33e3e !important;
}
